server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;

        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;

        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;
        ssl_ciphers HIGH:!aNULL:!MD5;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/nginx/dhparam.pem;

        ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

        root {{ riot_web_directory }};

        index index.html index.htm index.nginx-debian.html;

        server_name {{ riot_full_hostname }};
}
